<div class="centered-back">

<br /><br />

<div class="centered-product">
	<%= link_to "Back to Products", products_url, :class => "page-entries" %> | <%= link_to "Edit", edit_product_path(@product), :class => "page-entries" %>
</div>
	<h3 class="show-product-header"><%= @product.name %></h3><br /> 
	<%= image_tag @product.url %>
	<br />
	<br />
	<p><%= @product.description %>, <%= @product.price_in_cents %></p>
	<p><%= @product.formatted_price %></p>
</div>

<% if current_user %>
	<h3>Reviews</h3>

	<p>Reviews for <%= @product.name %></p> 

	<div id="review-list">
		<%= render :partial => "reviews" %>
	</div>

	<h3>New Review</h3> 
	
	<%= form_for([@product, @review], :remote => true) do |f| %>
			<div id="review-form-errors">
   				<%= render :partial => "/products/review_form_errors" %>
			</div>

		<div class"field">
			<%= f.label :comment %><br />
			<%= f.text_area :comment, :class => 'form-control', :row => '3' %>
		</div>
		<br />
		<div>
			<%= f.submit :class => 'btn btn-lg btn-primary btn-block green' %>
		</div>
		<% end %>
	<% else %>
		<p>Please <%= link_to "log in", new_session_path %> to add or see reviews.</p>
<% end %>