<h1>Products</h1>

<div class="underline"></div>

<h2><%= link_to "Back to Products", products_url %> | <%= link_to "Edit", edit_product_path(@product) %></h2>
<br /><br />
<h3><%= @product.name %></h3><br /> <p><%= @product.description %>, <%= @product.price_in_cents %></p>
<p><%= @product.formatted_price %></p>
<%= image_tag @product.url %>

<% if current_user %>
	<h3>Reviews</h3>

	<p>Reviews for <%= @product.name %></p> 

	<div id="review-list">
		<%= render :partial => "reviews" %>
	</div>

	<h3>New Review</h3> 
	
	<%= form_for([@product, @review], :remote => true) do |f| %>
			<div id="review-form-errors">
   				<%= render :partial => "/products/review_form_errors" %>
			</div>

		<div class"field">
			<%= f.label :comment %><br />
			<%= f.text_area :comment, :class => 'form-control', :row => '3' %>
		</div>
		<br />
		<div>
			<%= f.submit :class => 'btn btn-lg btn-primary btn-block green' %>
		</div>
		<% end %>
	<% else %>
		<p>Please <%= link_to "log in", new_session_path %> to add or see reviews.</p>
<% end %>