<h1 class="basic-header">LOG IN</h1>
<hr></hr>
<br />
<%= form_tag sessions_path do %>
	<div class="field">
		<%= label_tag :email %><br />
		<%= text_field_tag :email, params[:email], :class => 'form-control', :placeholder => 'email' %>
	</div>
	<!-- <paper-input label="Your Name"></paper-input> -->
	<br />
	<div class="field">
		<%= label_tag :password %><br />
		<%= password_field_tag :password, params[:password], :class => 'form-control', :placeholder => 'password'%>
	</div>
	<br />
	<br />
	<div class"actions"><%= submit_tag "Log in", :class => 'btn btn-lg btn-primary btn-block' %></div>
<% end %>



<br />
<div class="field">
	<paper-input floatingLabel label="Email Address" >

	</paper-input>
</div>

<div class="field">
	<paper-input floatingLabel label="Password" >
		
	</paper-input>
</div>
<br />
<paper-button raised>Log in</paper-button>