<h1 class="basic-header">LOG IN</h1>
<hr></hr>
<br />
<%= form_tag sessions_path do %>
	<div class="field">
		<%= label_tag :email %><br />
		<%= text_field_tag :email, params[:email], :class => 'form-control', :placeholder => 'email' %>
	</div>
	<br />
	<div class="field">
		<%= label_tag :password %><br />
		<%= password_field_tag :password, params[:password], :class => 'form-control', :placeholder => 'password'%>
	</div>
	<br />
	<br />
	<div class"actions"><%= submit_tag "Log in", :class => 'btn btn-lg btn-primary btn-block' %></div>
<% end %>


<form is="ajax-form" id="login" accept-charset="UTF-8" action="/sessions" method="post">
	<div style="display:none">
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />

		<input name="utf8" type="hidden" value="&#x2713;" />
		<%# binding.pry %>
		<!-- <paper-input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" /> -->
	</div>
		
	<div class="field">
		<paper-input id="email" name="email" floatingLabel label="Email Address" type="text" />
	</div>
	<br />
	<div class="field">
		<paper-input id="password" name="password" floatingLabel label="Password" type="password" />
	</div>
	<br />
	<br />
	<div class"actions">
		<input id="saveForm" class="btn btn-lg btn-primary btn-block" type="submit" value="Log in" />
	</div>
</form>

// <script>
//     $(document).ready(function() {

//       var form = document.getElementById('login');

//       document.getElementById('login').addEventListener('submit', function(event) {
//         // Prevent normal form submit
//         event.preventDefault();
//       });

//       document.getElementById('saveForm').addEventListener('click', function() {
//         Array.prototype.forEach.call(form.children, function(child) {
//           var name = child.getAttribute('name');

//           if ('value' in child && child.type !== 'submit' && name) {
//             console.log(name, child.value);
//             // Use jQuery.ajax or a Polymer/core-ajax element to send
//             // the data to the server
            
//           }
//         });
//       });

//     });
// </script>
