<h1 class="basic-header">LOG IN</h1>

<div class="underline"></div>
<br />
<br />
<%= form_tag sessions_path do %>
	<div class="field">
		<%= label_tag :email %><br />
		<%= text_field_tag :email, params[:email], :class => 'form-control', :placeholder => 'email' %>
	</div>
	<div class="field">
		<%= label_tag :password %><br />
		<%= password_field_tag :password, params[:password], :class => 'form-control', :placeholder => 'password'%>
	</div>
	<br />
	<br />
	<div class"actions"><%= submit_tag "Log in", :class => 'btn btn-lg btn-primary btn-block' %></div>
<% end %>
