<!DOCTYPE html>
<%= stylesheet_link_tag 'styles.css' %>
<html>
<head>
  <title>Rainforest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:alert] %>
    <p id="alert"><%= flash[:alert] %></p> 
  <% end %>

<%= nav_bar :fixed => :top, :brand => "⛈" do %>
    <%= menu_group do %>
        <%= menu_item "HOME", root_path %>
        <%= menu_item "ABOUT US"  %>
        <%= menu_item "CONTACT"  %>
    <% end %>
    <% if current_user %>
        <%= menu_item "Log Out", log_out_path %>
    <% else %>
        <%= menu_group :pull => :right do %>
            <%= menu_item "Sign Up", new_user_path %>
            <%= menu_item "Log in", new_session_path %>

        <% end %>
    <% end %>
<% end %>

<div class="top-menu-block">
  <div class="welcome">IT'S ALWAYS <u>WET</u> IN THE</p>
  </div>
  <div class="main-title">
    <h1 class="main-title">Rainforest</h1>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-3"><h2>menu here</h2></div>
    <div class="col-xs-9"><%= yield %></div>
  </div>
</div>

    <p class="userinfo">
     	<% if current_user %>
    		Signed in as <%= current_user.name %>. <%= link_to "Log out", session_path("current"), :method => :delete %>
     	<% else %>
    		<strong><%= link_to "Log in", new_session_path %></strong> or <strong><%= link_to "Sign up", new_user_path %></strong>
    	<% end %>
    </p>
</body>
</html>
